[mongodb-org-{{ mongo_release }}]
name=MongoDB {{ mongo_release }} Repository
{% if mongo_release|version_compare('3.0', '>=') %}
baseurl=https://repo.mongodb.org/yum/redhat/$releasever/mongodb-org/{{ mongo_release }}/x86_64/
{% else %}
baseurl=http://downloads-distro.mongodb.org/repo/redhat/os/x86_64/
{% endif %}
gpgcheck=0
enabled=1
